.Main1 {
    margin-left: 9%;
    margin-top: 3%;
}

.Months {
    margin-left: 20%;
}

.Choice {
    margin-left: 10%;
}

.Choice2 {
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.Months2 {
    margin-top: 100px;
    margin-left: 20%;
}

.Heading {
    font-size: 1.6rem;
    margin-left: 8%;
    margin-bottom: 1%;
}

.Heading3 {
    font-size: 2rem;
    margin-left: 8%;
    margin-bottom: 5%;
    margin-top: 7%;
}

.Heading2 {
    font-size: 2rem;
    margin-bottom: 5%;
    margin-top: 7%;
}



